!!!
%html
  %head
    %title Taddar
    %meta{ charset: 'utf-8' }
    %meta{ content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }
    %meta{ content: 'width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no', name: 'viewport' }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = analytics_init if GoogleAnalytics.valid_tracker?

    / confirm if needed here
    - unless Rails.env.test?
      %link{ href: 'https://fonts.googleapis.com/css?family=Raleway:500,900,200', rel: 'stylesheet', type: 'text/css' }
      %link{ href: 'https://fonts.googleapis.com/css?family=Heebo:100|Montserrat:100|Source+Code+Pro:200|Work+Sans:100', rel: 'stylesheet', type: 'text/css' }

  %body.flex.flex-column
    .min-h100vh
      #flash-messages
        = render 'layouts/flash_messages'
      = yield

  %footer
    = render 'layouts/footer'
