!!!
%html
  %head
    %title Taddar
    %meta{ charset: 'utf-8' }
    %meta{ content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }
    %meta{ content: 'width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no', name: 'viewport' }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body.bg-gradient.flex.flex-column.min-h100vh
    .py1
      .container
        = link_to 'taddar', root_path,
          class: 'font-larger typographica text-white text-black-hover'
    .flex-auto.flex.flex-column
      = yield
    .py4
      = render 'layouts/footer'
